In [4]:
import pandas as pd
import numpy as np
import os
import time
from astropy import config as _config
from astroquery.irsa import Irsa 

from astroquery.ned import Ned

In [5]:
LLAGN=pd.read_csv('/Users/brettlv/Downloads/CLAGN_statistic_plot/LLAGN.csv')

In [6]:
LLAGN["Name"][0]

'IC 239'

In [28]:
for index,name in enumerate(LLAGN['Name']):
    result_table = Ned.query_object(name)
    LLAGN.loc[index,'redshift']=result_table['Redshift'].data[0]

In [29]:
LLAGN[["Name",'redshift']]

         Name  redshift
0      IC 239  0.003012
1     IC 1727  0.001151
2     NGC 147 -0.000644
3     NGC 185 -0.000674
4     NGC 205 -0.000804
..        ...       ...
170  NGC 7479  0.007925
171  NGC 7619  0.012549
172  NGC 7626  0.011358
173  NGC 7742  0.005534
174  NGC 7743  0.000000

[175 rows x 2 columns]

In [31]:
result_table

<Table length=1>
 No.  Object Name     RA     ... Redshift Points Diameter Points Associations
                   degrees   ...
int32   bytes30    float64   ...      int32           int32         int32
----- ----------- ---------- ... --------------- --------------- ------------
    1    NGC 7743  356.08808 ...              20               8            0

In [30]:
print(result_table['Redshift'].data[0])

0.0

In [16]:
result_table['Redshift']

<MaskedColumn name='Redshift' dtype='float64' format='{!r:>10}' description='Heliocentric redshift for the object, if it exists in NED' length=1>
  0.003012

In [20]:
from  astropy.table import MaskedColumn

col = MaskedColumn(data=[1, 2], name='name')
col

<MaskedColumn name='name' dtype='int64' length=2>
1
2

In [21]:
col = MaskedColumn(data=[1, 2], name='name', mask=[True, False])
col

<MaskedColumn name='name' dtype='int64' length=2>
--
 2

In [22]:
col = MaskedColumn(data=[1, 2], name='name', dtype=float, fill_value=99)
col

<MaskedColumn name='name' dtype='float64' length=2>
1.0
2.0