In [47]:
import pymongo
#mon=pymongo.Connection('localhost',port=27017)
#mongod
from pymongo import MongoClient
client = MongoClient('localhost', 27017)

db = client['test-database']

collection = db['test-collection']

import datetime
post = {"author": "Mike",
         "text": "My first blog post!",
         "tags": ["mongodb", "python", "pymongo"],
         "date": datetime.datetime.utcnow()}

posts = db.posts

post_id = posts.insert_one(post).inserted_id

post_id

db.collection_names(include_system_collections=False)

import pprint

pprint.pprint(posts.find_one())

{'_id': ObjectId('59ed769f49963f98f7059270'),
 'author': 'Mike',
 'date': datetime.datetime(2017, 10, 23, 4, 56, 35, 301000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [50]:
import sqlite3
query="""
CREATE TABLE test
(a VARCHAR(20),b VARCHAR(20),c REAL, d INTEGER);
"""
con=sqlite3.connect(':memory:')
con.execute(query)
con.commit()


data={('altanta','georgia',1.25,6),('takkahassee','florida',2.6,3),('sacramento','california',1.7,5)}
stmt="INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)
con.commit()

cursor=con.execute('select * from test')
rows =cursor.fetchall()

rows

cursor.description

import pandas
from pandas import DataFrame
#DataFrame(rows,columns=zip(*cursor.description)[0])

import pandas.io.sql as sql
sql.read_sql('select * from test',con)
sql.read_sql_query('select * from test',con)

             a           b     c  d
0      altanta     georgia  1.25  6
1  takkahassee     florida  2.60  3
2   sacramento  california  1.70  5

In [9]:
import pymysql.cursors

conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='', db='mysql')

cur = conn.cursor()

cur.execute("SELECT Host,User FROM user")

print(cur.description)

print()

for row in cur:
    print(row)

cur.close()
conn.close()

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")

In [3]:
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

In [10]:
import pymysql.cursors



# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='user',
                             password='passwd',
                             db='db',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
        cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([Errno 61] Connection refused)")