In [4]:
import pandas as pd
import numpy as np
import os
import time
from astropy import config as _config
from astroquery.irsa import Irsa 

from astroquery.ned import Ned

In [5]:
LLAGN=pd.read_csv('/Users/brettlv/Downloads/CLAGN_statistic_plot/LLAGN.csv')

In [6]:
LLAGN["Name"][0]

'IC 239'

In [28]:
for index,name in enumerate(LLAGN['Name']):
    result_table = Ned.query_object(name)
    LLAGN.loc[index,'redshift']=result_table['Redshift'].data[0]

In [11]:
LLAGN[LLAGN['redshift']<0]

,Name,lg(L2-10keV),Sigma_dis,lg(MBH/Msun),lg(LEdd),lg(Lbol),lg(Lbol/LEdd),Unnamed: 7,Unnamed: 8,Unnamed: 9,len_neo,pearson_coeff_neo,sigma_m_w1_neo,mean_m_w1_neo,sigma_m_w2_neo,mean_m_w2_neo,redshift
2,NGC 147,36.18,16.5,3.774145,41.888088,37.378657,-4.509431,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-0.000644
3,NGC 185,35.92,23.1,4.361580,42.475523,37.118657,-5.356866,NaN,NaN,NaN,237.0,0.218297,0.116177,11.547131,0.111573,11.594747,-0.000674
4,NGC 205,36.41,33.1,4.989568,43.103511,37.608657,-5.494854,NaN,NaN,NaN,195.0,-0.117790,0.094333,11.144256,0.073776,11.093949,-0.000804
5,NGC 221,35.85,65.4,6.178482,44.292425,37.048657,-7.243768,NaN,NaN,NaN,193.0,0.189238,0.542274,5.965767,0.071041,6.655907,-0.000710
6,NGC 224,35.85,153.9,7.672559,45.786502,37.048657,-8.737845,NaN,NaN,NaN,196.0,0.127839,1.243478,5.017857,0.124788,6.837526,-0.001004
9,NGC 404,37.02,34.6,5.066945,43.180889,38.218657,-4.962232,NaN,NaN,NaN,192.0,0.131375,0.147554,9.450026,0.107942,9.482651,-0.000163
40,NGC 3031,39.38,151.6,7.646270,45.760214,40.578657,-5.181556,NaN,NaN,NaN,246.0,0.262576,0.288067,6.360642,0.067346,6.792720,-0.000130
85,NGC 4192,39.58,128.5,7.357650,45.471593,40.778657,-4.692936,NaN,NaN,NaN,180.0,0.152070,0.049762,8.863694,0.042631,8.858978,-0.000474
105,NGC 4406,40.39,231.4,8.384600,46.498543,41.588657,-4.909886,NaN,NaN,NaN,200.0,0.252878,0.068913,8.526335,0.068147,8.621160,-0.000747
107,NGC 4419,39.08,102.3,6.959559,45.073503,40.278657,-4.794846,NaN,NaN,NaN,191.0,0.287038,0.054850,8.815157,0.071947,8.700377,-0.000871
126,NGC 4569,39.41,138.8,7.492265,45.606208,40.608657,-4.997551,NaN,NaN,NaN,181.0,0.210854,0.045168,8.755486,0.036270,8.746138,-0.000784

In [13]:
LLAGN[["Name",'redshift']].to_csv('/Users/brettlv/Downloads/CLAGN_statistic_plot/LLAGN_redshift.csv',index=False)

In [26]:
for index,name in enumerate(LLAGN['Name'][:]):
    if len(LLAGN_DL_MPC_1[LLAGN_DL_MPC_1['Galaxy (1)'].str.strip()==name.strip()])>0:
        #print(LLAGN_DL_MPC_1[LLAGN_DL_MPC_1['Galaxy (1)']==name]['Galaxy (1)'],LLAGN_DL_MPC_1[LLAGN_DL_MPC_1['Galaxy (1)']==name]['DL (Mpc) (3)'])
        #print(LLAGN_DL_MPC_1[LLAGN_DL_MPC_1['Galaxy (1)']==name]['DL (Mpc) (3)'].values[0])
        LLAGN.loc[index,'DL (Mpc)']=LLAGN_DL_MPC_1[LLAGN_DL_MPC_1['Galaxy (1)']==name]['DL (Mpc) (3)'].values[0]
    
    elif len(LLAGN_DL_MPC_3[LLAGN_DL_MPC_3['Galaxy (1)'].str.strip()==name.strip()])>0:
        LLAGN.loc[index,'DL (Mpc)']=LLAGN_DL_MPC_3[LLAGN_DL_MPC_3['Galaxy (1)']==name]['DL (Mpc) (2)'].values[0]

In [28]:
LLAGN[['Name','redshift','DL (Mpc)']].to_csv('/Users/brettlv/Downloads/CLAGN_statistic_plot/LLAGN_redshift_DLmpc.csv',index=False)

In [20]:
from  astropy.table import MaskedColumn
col = MaskedColumn(data=[1, 2], name='name')
col

<MaskedColumn name='name' dtype='int64' length=2>
1
2

In [15]:
LLAGN_DL_MPC_1=pd.read_excel('/Users/brettlv/blog/IHEP_sync/data/AGNmass/LLAGN_QSO/LLAGNtable1.xlsx')

In [16]:
LLAGN_DL_MPC_1

,Galaxy (1),Class (2),DL (Mpc) (3),Lbol (erg s−1) (4),Narrow (5),CHα Broad (6),Total (7),CX (8),Reference (9)
0,NGC 1097,L2/L1.9,14.5,1.8 × 1042,529,474,250,34.4,1.0
1,NGC 3031,S1.5/L1.5,3.6,2.1 × 1041,300,140,95,3.5,2.0
2,NGC 4203,L1.9,9.7,9.5 × 1040,431,243,156,3.9,3.0
3,NGC 4261,L2,30.0,1.7 × 1042,355,···,355,14.2,3.0
4,NGC 4374,L2,16.8,8.2 × 1041,410,···,410,8.4,3.0
5,NGC 4450,L1.9,16.8,3.4 × 1041,1064,1136,550,8.9,3.0
6,NGC 4486,L2,16.8,2.3 × 1042,389,···,389,17.7,3.0
7,NGC 4579,S1.9/L1.9,16.8,9.9 × 1041,353,380,184,7.7,3.0
8,NGC 4594,L2,9.2,2.7 × 1041,208,···,208,7.5,3.0
9,NGC 6251,S2,92.0,8.0 × 1042,36,···,36,2.9,4.0
10,Arp 102B,L1.2,96.6,2.9 × 1043,546,62,55,1.8,5.0
11,Pictor A,L1.5,140.1,1.3 × 1044,5000,241,228,2.7,6.0
12,NaN,NaN,NaN,Mean,802,382,243,9.5,NaN
13,NaN,NaN,NaN,Standard Deviation,1345,360,156,9.2,NaN
14,NaN,NaN,NaN,Median,410,243,228,7.7,NaN

In [14]:
LLAGN_DL_MPC_3=pd.read_excel('/Users/brettlv/blog/IHEP_sync/data/AGNmass/LLAGN_QSO/LLAGNtable3.xlsx')

In [17]:
LLAGN_DL_MPC_3[:5]

  Galaxy (1)  DL (Mpc) (2) Log (LX/erg s−1) (3) Tel. (4)  Ref. (5)
0     IC 239          16.8              < 38.05        C         1
1    IC 1727           8.2              < 37.92        C         2
2    NGC 147           0.7              < 36.18        R         3
3    NGC 185           0.7              < 35.92        R         4
4    NGC 205           0.7              < 36.41        R         3